.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {

  padding: 16px;
  width: 51vw;
  height: 3.4rem;
  background: #262626;
  border: 1px solid #0D0D0D;
  border-radius: 8px;
}